@import "../../../../assets/styles/common";
@import "../../../../assets/styles/variables";

.cover img {
  width: 100%;
}

.book p {
  margin-top: 10px;
  font-size: 20px;
}

.title-book {
  margin-top:5px ;
  font-size: 20px;
  font-style: italic;
  width: 200px;
  font-family: 'Crimson Text', serif;
}

.image-book {
  border-radius: 10px;
  height: 300px;
  width: 200px;
}

.item-book {
  border-radius: 10px;
  margin: 3px;
  padding: 0.5rem 0.5rem;
  background-color: #f8f9fa;
}
.item-book-specific {
  cursor: default;
  text-decoration: none;
  font-family: 'Crimson Text', serif;
}

.item-book-specific p {
  line-height: 1;
}

a {
  color:black;
    text-decoration: none;
}

.author {
  line-height: 0.5;
  margin-bottom: 0;
}



