@import "../../../../assets/styles/common";
@import "../../../../assets/styles/variables";


.cover img {
  width: 100%;
}

.book p {
  margin-top: 10px;
  font-size: 20px;
}

.title-book {
  font-size: 14px;
  font-style: italic;
  width:200px;
}

.image-book {
  border-radius: 15px;
  height:300px;
  width:200px;
}

.item-book {
  margin: 10px 10px 10px 10px;
  border-radius: 15px;
  padding: 0.5rem 0.5rem;
  background-color: #f8f9fa ;

}
