.book {
  display: inline-block;
  width: 200px;
  height: 600px;
  box-shadow: 0 0 20px #aaa;
  margin: 25px;
  padding: 10px 10px 10px 10px;
  vertical-align: top;
  transition: height 1s;
}
/* star button */
// .book:after {
//   font-family: FontAwesome;
//   content: "\f006";
//   font-size: 35px;
//   position: relative;
//   left: -.1cm;
//   top: -1.6cm;
//   float: right;
// }

// .cover {
//   border: 2px solid gray;
//   height: 80%;
//   overflow: hidden;
// }

.cover img {
  width: 100%;
}

.book p {
  margin-top: 12px;
  font-size: 20px;
}

.book .title {
  font-size: 14px;
  font-style: italic;
}
.image-book {
  border-radius: 10%;
  height: 300px;
  width: 200px;
}