<div class="container mt-5">
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="container w-50 center">
      <div class="">
        <div *ngIf="imgURL; else use_image">
          <img [src]="imgURL" class="img-responsive image-book-detail" />
        </div>
        <ng-template #use_image>
          <img [src]="image.value" class="img-responsive image-book-detail" />
        </ng-template>
        <div class="form-group">
          <label for="image">Image URL</label>
          <input
            type="text"
            id="image"
            class="form-control"
            formControlName="image"
            #image
          />
        </div>
        <div class="form-group">
          <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Upload
          </label>
          <input
            type="file"
            id="file-upload"
            #file
            accept="image/*"
            (change)="handleFileInput($event.target.files); preview(file.files)"
          />
        </div>
      </div>
      <div class="">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            id="title"
            class="form-control"
            formControlName="title"
          />
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input
            type="text"
            id="author"
            class="form-control"
            formControlName="author"
          />
        </div>
        <div class="col-xs-12 mb-2">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              rows="6"
            ></textarea>
          </div>
          <button
            type="submit"
            class="btn btn-success mr-2"
            [disabled]="!bookForm.valid"
          >
            Save
          </button>
          <button type="submit" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
