$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

.image-book-list {
    width: 50px;
    height: 70px;
    border-radius: 0.25rem;
}
.top-main{
    margin-bottom: 10px;
}

.badge-success {
  background-color: #20c997;
}

.badge-danger {
  background-color: #dc3545;
}

.page-item a.active {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.disabled {
  pointer-events: none;
  color: gray;
}
