<div class="container" *ngIf="book">
  <div class="row">
    <div class="col-md-6">
      <p class="title-book text-center">{{ book.title | uppercase }}</p>
      <img class="image-book-detail" src="{{ book.image }}" />
    </div>
    <div class="col-md-6 info-book-detail">
      <p>Author: {{ book.author }}</p>
      <p>Description: {{ book.description }}</p>
      <p>Created at: {{ book.createdAt | date: medium }}</p>
      <p>Updated at: {{ book.updatedAt | date: medium }}</p>
      <p>Created by: {{ book.username }}</p>
      <div *ngIf="isLogin">
        <button class="btn btn-primary mr-2" (click)="onEditBook()">
          Edit
        </button>
        <button class="btn btn-danger" (click)="onDeleteBook()">Delete</button>
      </div>
      <br />
    </div>
  </div>

  <div class="container">
    <div class="comment-form" *ngIf="isLogin">
      <input
        type="text"
        class="form-control"
        name="message"
        [(ngModel)]="message"
      />
      <button class="btn btn-success ml-2" (click)="saveComment()">
        Comment
      </button>
    </div>
    <div class="list-group mt-3">
      <div *ngFor="let comment of comments; let i = index">
        <div class="list-group-item comment-detail">
          <div class="container row">
            <p class="mr-3 comment-user">{{ comment.username }}</p>
            <p class="comment-message">{{ comment.message }}</p>
          </div>
          <p class="comment-date">{{ comment.createdAt | date: "medium" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
