<link rel="stylesheet" href="/assets/fontawesome/css/all.min.css" />

<div class="container" *ngIf="!isLoading">
  <div class="container-fluid">
    <div class="mt-2 mb-2">
      <button
        class="btn btn-success"
        [routerLink]="['/users/new']"
        routerLinkActive="router-link-active"
      >
        + New User
      </button>
    </div>

    <div class="row bg-white">
      <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
        <div
          class="row shadow"
          style="left: auto !important; right: 0; min-width: auto;"
        >
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Avatar</th>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td><img class="image-user-list" src="{{ user.avatar }}" /></td>
                <td>{{ user.username }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <span
                    style="cursor: pointer;"
                    [class]="
                      user.enabled
                        ? 'badge badge-success'
                        : 'badge badge-danger'
                    "
                    >{{ user.enabled ? "Enabled" : "Disabled" }}</span
                  >
                </td>
                <td class="ml-5">
                  <i
                    class="far fa-edit iedit mr-2 edit-icon"
                    [routerLink]="[user.id, 'edit']"
                  ></i>
                  <i
                    class="far fa-trash-alt idelete delete-icon"
                    (click)="deleteUse(user.id)"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
